/* work sans google fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Shantell+Sans:wght@300&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* Common CSS */
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.btn-primary {
  border-radius: 8px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  background: #ff900e;
  padding: 20px 25px;
}
.text-color-gray {
  color: #727272;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
/* Header Related CSS */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

/* Banner Related CSS */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

/* Main section CSS */
main {
  max-width: 1440px;
  margin: 70px auto;
}
/* Teams Related CSS */
.teams-container {
  display: flex;
  align-items: center;
}
.teams-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}
.teams-title {
  font-size: 2.8rem;
}
.teams-title .quick-list {
  font-weight: 500;
}
.text-color {
  color: #ff900e;
  font-weight: 700;
}
/* Features Related CSS */
.features {
  margin-top: 130px;
  display: flex;
  gap: 100px;
}
.features .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature-content .card {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-img img {
  height: 90%;
  margin-left: 90px;
}
.ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  width: 322px;
  padding: 40px;
  text-align: center;
  position: relative;
  bottom: 140px;
}
.ten-years-badge h2 {
  font-size: 4rem;
  margin: 0;
}
.ten-years-badge p {
  font-size: 1.5rem;
}

/* Facts Related CSS */
.facts-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #727272;
  margin-top: 5px;
}
.facts-card-container .card-stats {
  color: #424242;
  font-size: 2.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Sponsors Related CSS */
.sponsors {
  text-align: center;
  margin-top: 15px;
}
.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.sponsors-img-container img {
  width: 140px;
}
/* Footer Related CSS */
.footer{
  padding: 70px 240px;
}
.footer-container{
  border-radius: 8px;
  background: #fff4e7;
}
.footer-desc {
  color:  #424242;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 38px ;
}

/* Responsive related CSS */
/*  Responsive for Mobile Device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  nav > ul,
  .facts-card-container,
  .sponsors-img-container,
  .features {
    flex-direction: column;
  }
  .feature-img img {
    width: 70%;
    margin-left: 0;
  }

  .ten-years-badge {
    position: static;
    max-width: 100px;
  }
  .ten-years-badge h2 {
    font-size: 1.5rem;
  }
  .ten-years-badge p {
    font-size: 0.6rem;
  }
  .teams-gallery {
    grid-template-columns: 1fr;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .section-title {
    font-size: 2rem;
  }
  .nav-title {
    font-size: 1.5rem;
  }
  .teams-content,
  .facts,
  .sponsors,
  .future {
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-card-container {
    gap: 10px;
  }
  .footer{
  padding: 40px 70px;
}
.footer-container{
  width: 100%;
  margin-left: 0;
}
.footer-desc {
  padding: 10px;
}
}
/*  Responsive for Medium or Tablet Devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .teams-container,
  .sponsors-img-container,
  .features {
    flex-direction: column;
  }
}
